.box {
    box-shadow: 0 5px 25px rgba(0, 0, 0, .15);
    padding: 1em;
    background-color: white;
    margin: 1em;
}

.year {
    width: 300px;
    min-height: 300px;
    background-color: white;
    margin: 1em;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
}

.years {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.linechart {
    margin: 1em;
    width: 650px;
    height: 350px;
}

.reasons {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.reason {
    background-color: white;
}

.totals {
    margin: 1em;
}

.box .lead {
    margin-bottom: 0;
}

.box .h1, .box .h2, .box .h3, .box .h4, .box .h5, .box .h6, .box h1, .box h2, .box h3, .box h4, .box h5, .box h6 {
    margin-bottom: .0;
}

.title-flex {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
}

.artists .year {
    min-height: min-intrinsic;
}

body {
    background-color: #e9ecef;
}

.footer {
    opacity: 0.4;
    margin: 2em;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile+label {
    display: inline-block;
}

.inputfile + label {
	cursor: pointer; /* "hand" cursor */
}

.inputfile:focus + label {
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}